# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*


# Environment variables
.env.*


# OS files
.DS_Store
Thumbs.db

# Initial version of the frontend
Client/v0/

# personal
todo.txt
index.html.txt
